/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.adinfo-hero-editor {
	.disabled {
		cursor: not-allowed !important;
		opacity: 0.5;
		background: gray;
	}

	.splide__pagination {
		gap: 0.3rem;
	}

	.button-edit {
		width: 35px;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.add-image-button:hover {
		background: rgb(12, 66, 192) !important;
	}
	.remove-slide-button:hover {
		background: rgb(192, 1, 1) !important;
	}
	.add-slide-button:hover {
		background: rgb(1, 84, 1) !important;
	}
}
