/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.disabled {
	cursor: not-allowed !important;
	opacity: 0.5;
	background: gray;
}

.splide__pagination {
	gap: 0.3rem;
}
