.wp-block-myblocks-adinfo-hero {
	margin: 0;
	padding: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

.adinfo-hero-render {
	margin: 0;
	padding: 0;

	.splide__track {
		position: relative;
	}

	.splide__pagination {
		position: absolute;
		bottom: 1rem;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
		display: flex;
		gap: 0.3rem;
	}
}

.adinfo-hero {
	.components-button:not(:disabled, [aria-disabled="false"]),
	.components-button[aria-expanded="false"] {
		color: white;
	}

	.components-button:hover:not(:disabled, [aria-disabled="true"]),
	.components-button[aria-expanded="true"] {
		color: #0066cc;
	}

	.splide__slide {
		width: 100%;
		height: 680px;
	}

	/* Dot (bullet) style for Splide pagination */
	.splide__pagination__page {
		width: 22px;
		height: 22px;
		background-color: white;
		border-radius: 50%;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
		opacity: 1;
		border: 2px solid white;
		background-color: transparent;

		&:hover {
			background-color: white;
			transition: background-color 0.3s ease;
			width: 24px;
			height: 24px;
		}
	}

	.splide__pagination__page.is-active {
		background-color: white;
		box-shadow: 0 0 10px rgba(0, 0, 0, 1);
	}
}
